@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #282a36;
  color: white;
}

header {
  color: white;
  padding: 30px;
  background-color: #252731;
  text-align: center;
  border-bottom: 1px solid white;
}

header img {
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 600px;
}

header h1 {
  line-height: 70px;
}

main {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sobre p-sobre" "tec tec-utilizadas" "footer footer";
  max-width: 1200px;
}

main div h2 {
  font-size: 33px;
  margin: 15px;
  grid-area: sobre;
}

main div p {
  line-height: 50px;
  font-size: 18px;
  max-width: 500px;
  margin: 15px;
  text-align: justify;
  grid-area: tec;
}

main div p strong {
  font-size: 20px;
}

main .sobre-empresa {
  font-size: 33px;
  text-align: right;
  grid-area: p-sobre;
  padding-top: 12px;
}

main ul {
  font-size: 18px;
  grid-area: tec-utilizadas;
  margin: -320px 150px 0;
  line-height: 40px;
  padding-bottom: 15px;
}

main #links h2 {
  font-size: 45px;
}

footer #links a {
  color: white;
  text-decoration: none;
  margin: 45px;
  line-height: 50px;
  border-bottom: 2px solid rgb(39, 202, 134);
  align-items: flex-end;

  font-size: 18px;
}

footer #links {
  text-align: center;
  grid-area: footer;
  margin: 30px;
}

footer #links a:hover {
  color: rgb(39, 202, 134);
  transition: 300ms;
}
