@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  color: white;
  padding: 30px;
  background-color: #252731;
  border-bottom: 1px solid white;
}

header div img {
  width: 60px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 10px;
}

header div {
  text-align: center;
}

header div a:nth-of-type(1) {
  font-size: 30px;
  left: 60px;
  position: absolute;
}

header div a {
  color: white;
  text-decoration: none;
  margin: 0 30px;
  font-size: 20px;
  top: 25px;
  font-weight: bold;
}

header div a:hover {
  color: rgb(39, 202, 134);
  transition: 300ms;
}

body {
  background-color: #282a36;
  color: rgb(231, 225, 225);
  font-size: 25px;
}

body main .content {
  max-width: 800px;
  line-height: 30px;
  margin: 0 auto;
  font-size: 21px;
  padding-top: 20px;
  font-weight: 0;
  text-align: justify;
}

/* ===CARD=== */

#cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 70%;
}

.card {
  background-color: #7159c1;
}

#post-one img {
  width: 100%;
}

#titulo-post,
#leitura-post {
  padding: 15px;
}

#leitura-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#leitura-post p {
  margin: 5px;
}

.card-style {
  background-color: #7159c1;
  filter: brightness(85%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

/* ==MODAL== */

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .maximize-modal,
.close-modal {
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal .maximize-modal {
  right: 33px;
}

/* ==modalOverlay Active== */

.modalOverlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.maximize {
  width: 100%;
  height: 100%;
  margin: 1vh auto;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;
}
